<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Files</title>
</head>
<body>
    <h1>Download Files</h1>
    <ul>
        {% for file in files %}
        <li><a href="/download/{{ file }}">{{ file }}</a></li>
        {% endfor %}
    </ul>
    <h2>Sort By:</h2>
    <ul>
        <li><a href="/sort/SKU">Sort by SKU</a></li>
        <li><a href="/sort/Courier%20Wise">Sort By Courier Wise</a></li>
        <li><a href="/sort/Quantity%20Wise">Sort by Quantity Wise</a></li>
    </ul>
</body>
</html>
