<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to our Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/css/main.css">

</head>
<body>
    <header>
        <h1>Want help with labels?</h1>
    </header>

    <nav>
        <div class="dropdown">
            <button class="dropbtn">Labels</button>
            <div class="dropdown-content">
              <a href="/amazon">Amazon</a>
              <a href="/flipkart">Flipkart</a>
              <a href="/meesho">Meesho</a>
              <a href="/glowroad">Glowroad</a>
            </div>
        <a href="/merge">Merge PDFs</a>
        <a href="/QRCode">QR-Code</a>
        <a href="/sort">Other</a>
    </nav>

    <div class="banner">
  
    </div>

    <div class="container">
        <div class="content">
            <p>Labels are indispensable in the shipping and delivery process, acting as vital markers that facilitate the accurate 
                identification and handling of packages. However, challenges arise when dealing with large PDF files containing comprehensive 
                billing information, complicating the process of labeling shipments accurately. Our website offers a tailored solution to this 
                issue by providing features to split and crop labels effectively, ensuring seamless business operations. Specifically designed to cater 
                to major companies such as Amazon, Flipkart, Meesho, and Glowroad, our platform streamlines labeling procedures, enhancing overall shipping 
                and delivery efficiency for businesses across various sectors.</p>
        </div>
        <div class="button-container"><b>
            <a href="/amazon" class="button amazon">Amazon</a>
            <a href="/flipkart" class="button flipkart">Flipkart</a>
            <a href="/meesho" class="button meesho">Meesho</a>
            <a href="/glowroad" class="button glowroad">Glowroad</a>
        </b>

          </div>
          
    </div>

    <footer>
        <a href="#" class="facebook-icon"><i class="fab fa-facebook"></i></a>
        <a href="#" class="twitter-icon"><i class="fab fa-twitter"></i></a>
        <a href="#" class="instagram-icon"><i class="fab fa-instagram"></i></a>
        <a href="#" class="linkedin-icon"><i class="fab fa-linkedin"></i></a>
        <p>&copy; 2024 JustMakeIt. All rights reserved.</p>
    </footer>
    
</body>
</html>
